<header class="main-header">
        <div class="logo">e-commerce la ribera Store</div>
        <nav class="main-nav">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="/producto">ProductosAQUI</a></li>
            <li><a href="#">Registrarse</a></li>
          </ul>
        </nav>
      </header>